NODE_ENV=development
PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_USER=momoblog
DB_PASSWORD=momoblog_pass
DB_NAME=momoblog

JWT_SECRET=your_super_secret_key_change_in_production

CLIENT_ORIGIN=http://localhost:5175
